/*общие настройки*/
body {
	font-family: Roboto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 1260px) {
	.container {
		margin: 0 30px;
	}
}

.flexBlock {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.verticalFlex {
	align-items: center;
}

/*шапка*/

.header {
	background-color: #252728;
	box-shadow: 0 8px 40px rgba(0, 0, 0, 0.65);
}

.header__Logo {
	width: 90px;
	height: 90px;
	margin-top: 9px;
}
.header nav {
	padding-top: 50px;
	padding-bottom: 44px;
}

.header nav a {
	padding-right: 39px;
	color: #fbeeee;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	text-decoration: none;
	transition: 0.3s;
}

.navForMobile {
	display: none;
}

.header nav a:hover {
	color: rgba(217, 83, 109, 1);
}

.header button {
	background-color: #e11f3f;
	border-radius: 4px;
	height: 36px;
	border: 0;
	color: #fbeeee;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.17px;
	padding: 14px 18px;
	margin-top: 38px;
	transition: 0.8s;
}

.header button:hover {
	background-color: #fbeeee;
	color: #e11f3f;
	cursor: pointer;
}

/*главный экран фон*/

.FirstDisplay {
	background-image: url(../img/клуб1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 50%;
	width: 100%;
}

.firstDisplayDark {
	background-color: rgba(38, 28, 33, 0.6);
	width: 100%;
}

/*Главный экран заголовок*/

.firstDisplay__header {
	padding-bottom: 70px;
}

.FirstDisplay h1{
	color: #f9f3f6;
	font-size: 56px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 90px;
}

.firstDisplay__header span {
	padding-top: 10px;
	color: #f9f3f6;
	font-size: 24px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	display: block;
	text-align: center;
}

/*главный экран, блоки с играми*/

.firstBlock__allGames {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}

/*Блок с кс */

.imageCsgo {
	background-image: url(../img/CsGo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	border: 7px solid rgba(217, 83, 109, 0.32);
	border-radius: 50%;
	width: 14vw;
	height: 14vw;
	min-width: 167px;
	min-height: 167px;
	background-clip: padding-box;
}

.firstBlock__allGames__CsGo {
	transition: 0.6s;
	margin-bottom: 50px;
}

.firstBlock__allGames__CsGo:hover {
	transform: scale(1.2);
}

.wordsCsGo {
	color: #fffdfd;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	display: block;
	text-align: center;
	padding-top: 8px;
}

/*Блок с дотой*/

.imageDota2 {
	background-image: url(../img/dota2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	border: 7px solid rgba(217, 83, 109, 0.32);
	border-radius: 50%;
	width: 14vw;
	height: 14vw;
	min-width: 167px;
	min-height: 167px;
	background-clip: padding-box;
}

.firstBlock__allGames__dota2 {
	transition: 0.6s;
	margin-bottom: 50px;
}

.firstBlock__allGames__dota2:hover {
	transform: scale(1.2);
}

.wordsDota2 {
	color: #fffdfd;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	display: block;
	text-align: center;
	padding-top: 8px;
}

/*блок с фортнайтом*/

.imageFortnite {
	background-image: url(../img/fortnite.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	border: 7px solid rgba(217, 83, 109, 0.32);
	border-radius: 50%;
	width: 14vw;
	height: 14vw;
	min-width: 167px;
	min-height: 167px;
	background-clip: padding-box;
}

.firstBlock__allGames__fortnite {
	transition: 0.6s;
	margin-bottom: 50px;
}

.firstBlock__allGames__fortnite:hover {
	transform: scale(1.2);
}

.wordsFortnite {
	color: #fffdfd;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	display: block;
	text-align: center;
	padding-top: 8px;
}

/*блок с фифой*/

.imageFifa {
	background-image: url(../img/FIFA19.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	border: 7px solid rgba(217, 83, 109, 0.32);
	border-radius: 50%;
	width: 14vw;
	height: 14vw;
	min-width: 167px;
	min-height: 167px;
	background-clip: padding-box;
}

.firstBlock__allGames__fifa {
	transition: 0.6s;
	margin-bottom: 50px;
}

.firstBlock__allGames__fifa:hover {
	transform: scale(1.2);
}

.wordsFifa {
	color: #fffdfd;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	display: block;
	text-align: center;
	padding-top: 8px;
}

/*кнопка*/ 

.FirstDisplay button {
	background-color: #e11f3f;
	border-radius: 4px;
	border: 0;
	color: #fbeeee;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.24px;
	padding: 24px 42px;
	display: block;
	margin: 0 auto;
	transition: 0.8s;
}

.FirstDisplay button:hover {
	background-color: #fbeeee;
	color: #e11f3f;
	cursor: pointer
}

.ButtonBlock {
	padding-bottom: 65px;
}

/*второй блок*/

.secondBlock {
	box-shadow: 0 -8px 40px 1px rgba(7, 7, 7, 0.65);
	background-color: #282828;
}

/*текст, левый блок второго блока*/

.secondBlock__about {
	width: 37.5%;
}

.secondBlock h2 {
	color: #fbeeee;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 36px;
	letter-spacing: 0.9px;
	padding-top:75px;
	padding-bottom: 45px;
}

.secondBlock p {
	font-size: 14px;
	color: #fbeeee;
	line-height: 20px;
	letter-spacing: 0.35px;
	text-align: left;
}

.secondBlock__pargraph1  {
	padding-bottom: 20px;
}

.secondBlock__pargraph {
	padding-bottom: 80px;
}

/*второй блок, картинка*/

.secondBlock__image {
	width: 490px;
}

.secondBlock__image img{
	box-shadow: 0 0 32px rgba(255, 0, 30, 0.04);
	width: 100%;
}

/*Третий блок*/
/*фон и заголовок*/

.thirdBlock {
	box-shadow: inset 0 10px 40px 1px rgba(0, 0, 0, 0.41);
	background-image: url(../img/keyboard-wallpapers-30703-6359784.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.thirdBlock__dark {
	background-color: rgba(38, 28, 33, 0.3);
	height: 100%;
	width: 100%;
}

h2.thirdBlock__head {
	color: #fbeeee;
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	padding-top: 75px;
}

/*Преимущества нашего клуба, карточки*/
/*общее для всех*/

.thirdBlock__AllAdv {
	margin-top: 70px;
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.thirdBlock__Adv__imageColor {
	background-color: rgba(255, 255, 255, 0.15);
	height: 100%;
	width: 100%;
}

/*Первая карточка*/

.thirdBlock__AllAdv__Adv1 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
	position: relative;
}

.thirdBlock__AllAdv__Adv1:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}

.thirdBlock__AllAdv__Adv1__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/razer-blackwidow-elite-gallery-04.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv1__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv1__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv1__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*первая карточка, стрелки*/

.arrowsForMobileAdv {
	position: absolute;
	width: 130px;
	display: flex;
	justify-content: space-between;
	bottom: -40px;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
}

.arrowAdv i{
	opacity: 0.4;
	transition: 0.5s;
	font-size: 36px;
	color: #fdfafa;
	text-transform: uppercase;
	z-index: 3;
}

.arrowAdv i:hover {
	opacity: 0.8;
}

/*вторая карточка*/

.thirdBlock__AllAdv__Adv2 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
}

.thirdBlock__AllAdv__Adv2:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv2__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/maxresdefault.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv2__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv2__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv2__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*Третья карточка*/

.thirdBlock__AllAdv__Adv3 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
}

.thirdBlock__AllAdv__Adv3:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv3__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/headphones.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv3__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv3__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv3__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*четвертая карточка*/

.thirdBlock__AllAdv__Adv4 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
}

.thirdBlock__AllAdv__Adv4:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv4__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/intel.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv4__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv4__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv4__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*Пятая карточка*/

.thirdBlock__AllAdv__Adv5 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
}

.thirdBlock__AllAdv__Adv5:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv5__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/GTX-1080-box.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv5__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv5__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv5__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*Шестая карточка*/

.thirdBlock__AllAdv__Adv6 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
}

.thirdBlock__AllAdv__Adv6:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv6__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/monitor.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv6__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv6__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv6__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*Главные преимущества закончились, но это не все*/

h2.thirdBlock__postHead {
	color: #fbeeee;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	padding-top: 19px;
	padding-bottom: 50px;
}

/*весь подблок*/

.thirdBlock__secondsAdv {
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*по отдельности, прарграф*/

.thirdBlock__secondsAdv__paragraph {
	width: 287px;
	color: #fbeeee;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.4px;
}

/*блоки с преимуществами*/

.thirdBlock__secondsAdv__elseEdv {
	width: 620px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 3px;
}

/*седьмая карточка*/

.thirdBlock__AllAdv__Adv7 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
	position: relative;
}

.thirdBlock__AllAdv__Adv7:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv7__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/стул.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv7__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv7__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv7__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*восьмая карточка*/

.thirdBlock__AllAdv__Adv8 {
	width: 280px;
	height: 358px;
	border-radius: 4px;
	background-color: #f1ebeb;
	margin-bottom: 51px;
	transition: 0.8s;
}

.thirdBlock__AllAdv__Adv8:hover {
	box-shadow: 0 0 20px 1px rgba(255, 0, 18, 0.24);
	transform: scale(1.1);
	position: relative;
}


.thirdBlock__AllAdv__Adv8__image {
	width: 280px;
	height: 183px;
	background-image: url(../img/ренажерный.jpg);
	background-size: cover;
}

.thirdBlock__AllAdv__Adv8__text {
	padding-left: 13px;
	padding-top: 20px;
	color: #020202;
}

.thirdBlock__AllAdv__Adv8__text h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.thirdBlock__AllAdv__Adv8__text p {
	padding-left: 1px;
	padding-bottom: 21px;
	padding-top: 7px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.54px;
	padding-bottom: 21px;
}

/*кнопка третьего блока*/

.thirdBlock button {
	background-color: #e11f3f;
	border-radius: 4px;
	border: 0;
	color: #fbeeee;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.24px;
	padding: 24px 42px;
	display: block;
	transition: 0.8s;
	position: relative;
	bottom: 51px;
}

.thirdBlock__buttonBlock {
	padding-bottom: 19px;
}

.thirdBlock button:hover {
	background-color: #fbeeee;
	color: #e11f3f;
	cursor: pointer
}

@media screen and (max-width: 983px) {
	.thirdBlock button {
		position: static;
	}

	.thirdBlock__buttonBlock {
		padding-bottom: 70px;
	}

	.thirdBlock__secondsAdv__elseEdv {
		margin-top: 50px;
	}

	.thirdBlock__secondsAdv p {
		width: 100%;
	}
}

/*четвертый блок (галерея)*/

.fourthBlock {
	background-color: #282828;
	box-shadow: 0 -8px 40px 1px rgba(7, 7, 7, 0.64);
}

/*Заголовок*/ 

.fourthBlock h2 {
	color: #fbeeee;
	font-size: 36px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	padding-top: 70px;
	padding-bottom: 45px;
}

/*Стрелки*/

.fourthBlock i {
	opacity: 0.4;
	font-size: 36px;
	color: #fdfafa;
	text-transform: uppercase;
}

/*Сами фотографии*/

.image {
	width: 369px;
	height: 246px;
}

.fourthBlock img {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 40px 1px rgba(0, 36, 255, 0.13);
	position: relative;
}

.fourthBlock img:hover {
	box-shadow: 0 0 46px 1px rgba(0, 36, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.7);
}

.fourthBlock__gallery {
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
}

/*Для стрелок и лупы*/

.fourthBlock__gallery__photo1Div {
	position: relative;
}

.fourthBlock__gallery__photo1Div .fa-arrow-left {
	position: absolute;
	z-index: 4;
	left: 3px;
	top: 40%;
	transition: 0.4s;
}

.fourthBlock__gallery__photo1Div .fa-arrow-left:hover {
	opacity: 0.8;
}

.fourthBlock__gallery__photo2Div {
	position: relative;
}

.fourthBlock .fa-search {
	position: absolute;
	left: 8px;
	top: 6px;
	font-size: 24px;
	opacity: 0;
	transition: 0.4s;
}

.forScriptSearch {
	opacity: 0;
}

.fourthBlock .fa-times {
	position: absolute;
	right: 8px;
	top: 6px;
	font-size: 24px;
	opacity: 0.4;
	transition: 0.4s;
	display: none;
}

.fourthBlock .fa-times:hover {
	opacity: 0.8;
}

.fourthBlock__gallery__photo3Div {
	position: relative;
}

.fourthBlock__gallery__photo3Div .fa-arrow-right {
	position: absolute;
	z-index: 4;
	right: 3px;
	top: 40%;
	transition: 0.4s;
}

.fourthBlock__gallery__photo3Div .fa-arrow-right:hover {
	opacity: 0.8;
}

.image:hover .fa-search {
	opacity: 0.4;
}

.image .fa-search:hover {
	opacity: 0.8;
}

.galleryPhoto {
	z-index: 10;
	position: fixed;
	width: 738px;
	height: 492px;
	left: 50%;
	margin-left: -369px;
	top: 50%;
	margin-top: -246px;
}

/*Уменьшенные фотографии для экрана поменьше*/

@media screen and (max-width: 1180px) {
	.image {
		width: 277px;
		height: 186px;
	}
}

@media screen and (max-width: 900px) {
	.image {
		width: 277px;
		height: 186px;
	}
	.fourthBlock__gallery__photo2Div {
		position: absolute;
		left: 50%;
		top: -20px;
		width: 337px;
		height: 226px;
		z-index: 3;
		margin-left: -168px;
	}
	.fourthBlock__gallery {
		position: relative;
	}
}

/*для телефонов*/

@media screen and (max-width: 545px) {
	.image {
		width: 293px;
		height: 197px;
	}

	.fourthBlock h2 {
		font-size: 30px;
		letter-spacing: 0.75px;
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.fourthBlock__gallery__photo1Div img {
		display: none;
	}


	.fourthBlock__gallery__photo3Div img {
		display: none;
	}

	.fourthBlock .fa-search {
		display: none;
	}

	.fourthBlock__gallery__photo1Div .fa-arrow-left {
		position: absolute;
		left: 5px;
		top: 40%;
		transition: 0.4s;
	}

	.fourthBlock__gallery__photo3Div .fa-arrow-right {
		position: absolute;
		right: 3px;
		top: 40%;
		transition: 0.4s;
	}
	.fourthBlock__gallery__photo2Div {
		position: static;
		margin: 0 auto;
	}

	.fourthBlock__gallery__photo1Div {
		width: 0;
	}

	.fourthBlock__gallery__photo3Div {
		width: 0;
	}

	.fourthBlock__gallery {
		padding-bottom: 50px;
	}
}

/*пятый блок фон и общее*/

.fifthBlock {
	background-image: url(../img/5block.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.fifthBlockColor {
	background-color: rgba(38, 28, 33, 0.3);
	box-shadow: inset 0 10px 18px rgba(0, 0, 0, 0.39);
}

h2.fifthBlock__head {
	padding-top: 75px;
	padding-bottom: 110px;
	color: #fbeeee;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	line-height: 40px;
}

/*карточки, сначала общий потом по отдельности*/

.fifthBlock__cards {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-bottom: 130px;
}

.fifthBlock__card {
	width: 377px;
	height: 301px;
	background-color: #f1ebeb;
	border-radius: 4px;
}

/*шапка карты*/

.card__head {
	display: flex;
	justify-content: flex-start;
	padding: 12px 0 0 12px;
}

.card__head__roundImg1 {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-image: url(../img/Отзыв2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.card__head__roundImg2 {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-image: url(../img/person1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card__head__roundImg3 {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-image: url(../img/person3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card__head__text {
	padding-left: 15px;
	padding-top: 19px;
}

.card__head__text h3 {
	color: #020202;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.52px;
	line-height: 18px;
}

.card__head__text span i {
	color: #7378db;
	font-size: 20px;
	padding-left: 1px;
}

/*"Тело" карты*/

.card__content {
	padding: 15px 30px 30px 27px;
}

.card__content h3 {
	color: #1b1b1e;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 15px;
	padding-bottom: 3px;
}

.card__content div{
	color: #5c5d62;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0.4px;
	overflow: hidden;
	height: 167px;
}

/*центральная (увеличенная) карта*/

.card2 {
	position: absolute;
	transform: scale(1.4);
	margin-left: -188px;
	left: 50%;
	transition: 0.7s;
}

.card2:hover {
	box-shadow: 0 0 46px 1px rgba(0, 36, 255, 0.2);
}

/*стрелки, скрытые*/ 

.fifthBlock__arraws {
	position: absolute;
	width: 150px;
	display: flex;
	justify-content: space-between;
	bottom: -40px;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
}

.fifthBlockArrow i{
	opacity: 0.4;
	transition: 0.5s;
	font-size: 36px;
	color: #fdfafa;
	text-transform: uppercase;
	z-index: 3;
}

.fifthBlockArrow i:hover {
	opacity: 0.8;
}

/*шестой длок (цены)*/

.Sixth__block {
	background-color: #282828;
	box-shadow: 0 -8px 40px 1px rgba(7, 7, 7, 0.64);
}

.SixBlock__content {
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 65px;
	max-width: 640px;
	overflow-x: hidden;
}

.SixBlock__content h2 {
	color: #fbeeee;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	margin-bottom: 50px;
}

/*сами цены*/

.Sixth__block__prices {
	padding-bottom: 45px;
}

.price {
	color: #fbeeee;
	padding-bottom: 20px;
}

.price span:first-child {
	letter-spacing: 0.75px;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
}

.price div {
	display: inline;
	font-size: 14px;
}

.price span:last-child {
	font-size: 30px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.75px;
}

/*кнопки*/ 

.Sixth__block button {
	background-color: #e11f3f;
	border-radius: 4px;
	border: 0;
	color: #fbeeee;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.24px;
	width: 215px;
	height: 68px;
	transition: 0.8s;
}

button.Sixth__block__btn2 {
	margin-left: 25px;
	background-color: #fbeeee;
	color: #e11f3f;
}

button.Sixth__block__btn1:hover {
	background-color: #fbeeee;
	color: #e11f3f;
	cursor: pointer
}

button.Sixth__block__btn2:hover {
	background-color: #e11f3f;
	color: #fbeeee;
	cursor: pointer
}
a.linkTelBut {
	text-decoration: none;
}

/*седьмой блок(контакты)*/

.seventhBlock {
	background-color: #f1ebeb;
	box-shadow: inset 0 10px 43px rgba(0, 0, 0, 0.39);
}

h2.seventhBlock__header {
	padding-top: 75px;
	padding-bottom: 50px;
	color: #282828;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	line-height: 36px;
}

.all__contacts {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 15px;
}

.contact__leftCol {
	width: 330px;
	margin-right: 20%;
}

.contact__rightCol {
	width: 370px;
}

/*блоки контактов по отдельности*/

.contact__element {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 40px;
	transition: 0.8s;
}

.contact__element i {
	color: #e11f3f;
	font-size: 36px;
	padding-right: 30px;
}

.contact__text h3{
	padding-top: 4px;
	padding-bottom: 10px;
	color: #1b1b1e;
	font-size: 25px;
	line-height: 25px;
	font-weight: 500;
	letter-spacing: 0.63px;
}

.contact__text span {
	display: block;
	color: #494950;
	font-size: 12px;
	letter-spacing: 0.3px;
}

.contact__text span a {
	color: #494950;
	text-decoration: none;
}

.contact__text span a:hover {
	color: #1b1b1e;
	font-weight: 500;
}

/*ссылка наверх*/

.up a {
	text-decoration: none;
	display: block;
}

.up div {
	float: left;
}

.up:hover {
	transform: scale(1.1);
}

/*восьмой блок (карта)*/

.eightBlock {
	box-shadow: 0 -6px 40px rgba(7, 7, 7, 0.4);
	height: 450px;
}

.eightBlock iframe {
	border: none;
	width: 100%;
}

/*подвал*/

.footer {
	background-color: #282828;
	box-shadow: inset 0 5px 36px 4px rgba(0, 0, 0, 0.34);
	color: #a8a8a9;
	padding: 24px 0;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.78px;
}

.nameFooter {
	font-weight: 400;
}

.socialFooter a i{
	color: #a8a8a9;
	text-decoration: none;
	transition: 0.5s;
	padding-right: 3px;
}

.socialFooter a i:hover {
	transform: scale(1.2);
}

.numberFooter a {
	display: inline-block;
	color: #a8a8a9;
	text-decoration: none;
	transition: 0.5s;
	padding-left: 2vw;
}

.numberFooter a:hover {
	transform: scale(1.1);
}

/*форма*/

.darknessForm {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.form {
	width: 620px;
	height: 520px;
	border-radius: 5px;
	background-color: #282828;
	position: fixed;
	left: 50%;
	margin-left: -310px;
	top: 50%;
	margin-top: -260px;
}

.formCross {
	position: absolute;
	right: 7px;
	top: 7px;
	color: #a5a4a4;
	font-size: 18px;
	transition: 0.3s;
}

.formCross:hover {
	color: #f9f3f6; 
}

.form h3 {
	color: #f9f3f6;
	font-size: 28px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.7px;
	padding-top: 25px;
	text-align:center;
}

.form__content {
	margin: 0 80px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form__leftCol {
	width: 220px;
}

.form__rightCol {
	width: 145px;
}

.form__input {
	padding-top: 25px;
}

span.form__inputName {
	color: #f9f3f6;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.45px;
	font-weight: 500;
}

.form__input input{
	margin-top: 12px;
	border: none;
	width: 100%;
	height: 34px;
	border-radius: 5px;
	background-color: #f9f3f6;
	padding: 0 0;
	padding-left: 12px;
}

.form__input select {
	margin-top: 12px;
	border: none;
	width: 100%;
	height: 34px;
	border-radius: 5px;
	background-color: #f9f3f6;
	padding-left: 12px;
}

span.form__correcter {
	display: block;
	width: 396px;
	margin: 25px 0 42px 80px; 
	color: #a5a4a4;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.35px;
}

input.form__submit {
	background-color: #e11f3f;
	border-radius: 4px;
	height: 52px;
	border: 0;
	color: #fbeeee;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.17px;
	padding: 21px 38px;
	transition: 0.8s;
	margin-left: 80px;
	margin-right: 30px;
}

input.form__submit:hover {
	background-color: #fbeeee;
	color: #e11f3f;
	cursor: pointer;
}

input.form__reset {
	background-color: #fbeeee;
	border-radius: 4px;
	height: 52px;
	border: 0;
	color: #e11f3f;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.17px;
	padding: 21px 38px;
	transition: 0.8s;
}

input.form__reset:hover {
	background-color: #e11f3f;
	color: #fbeeee;
	cursor: pointer;
}

/*адаптив для планшетов*/

@media screen and (max-width: 974.5px) {
	header button {
		display: none;
	}
	.secondBlock__image {
		width: 389px;
	}
}

@media screen and (max-width: 862.5px) {
	.header nav a {
		padding-right: 2.5vw;
	}
}

@media screen and (max-width: 740.5px) {
	.header nav a {
		display: none;
	}
	.navForMobile {
		display: block;
		color: #fbeeee;
		font-size: 48px;
		align-self: center;
	}
	.secondBlock__about {
		width: 100%;
	}
	.secondBlock__image {
		width: 100%;
		overflow: hidden;
		position: relative;
		padding-bottom: 50px;
	}
	.secondBlock__image img {
		position: relative;
		width: 120%;
		left: -10%;
	}
	p.secondBlock__pargraph {
		padding-bottom: 50px;
	}
	.price .points {
		display: none;
	}
	.price {
		display: flex;
		justify-content: space-between;
	}
}



/*для планшета*/

@media screen and (max-width: 715px) {
	/*убираем точки*/
	.card1, .card3 {
		display: none;
	}
	.card2 {
		position: relative;
		transform: scale(1.2);
	}
	/*стрелки в блоке с отзывами*/

	.fifthBlock__arraws {
		opacity: 1;
	}
	h2.fifthBlock__head {
		padding-top: 60px;
		padding-bottom: 80px;
	} 
	.fifthBlock__cards {
		padding-bottom: 90px;
	}
}

/*форма для телефонов*/

@media screen and (max-width: 680px), screen and (max-height: 650px) {
	.formCross {
		font-size: 22px;
	}
	.darknessForm {
		position: absolute;
		top: 0;
	}
	.form {
		position: fixed;
		overflow-y: auto;
		overflow-x: hidden;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}
	.form__content {
		margin: 0 35px;
		display: block;
	}
	input.form__submit {
		margin-left: 35px;
		margin-bottom: 45px;
	}
	span.form__correcter {
		margin-left: 35px;
		max-width: 380px;
	}
}

@media screen and (max-width: 900px) {
	.container h2 {
		padding-top: 60px;
		padding-bottom: 45px;
	}
	h1.FirstDisplay__head {
		padding-top: 65px;
		font-size: 42px;
		line-height: 36px;
	}
	.firstDisplay__header {
		padding-bottom: 55px;
	}
	.ButtonBlock {
		padding-bottom: 50px;
	}
	.thirdBlock__AllAdv {
		margin: 0;
	}
	.thirdBlock__AllAdv__Adv6 {
		margin-bottom: 0;
	}
	.thirdBlock__buttonBlock {
		padding-bottom: 50px;
	}
	h2.fifthBlock__head {
		padding-bottom: 80px;
	}
	.SixBlock__content {
		padding-top: 0;
		padding-bottom: 60px;
	}
	.SixBlock__content h2 {
		margin-bottom: 0;
	}
}
/*правки для блока с ценами*/
@media screen and (max-width: 505.5px){
	.price span:first-child {
		width: 200px;
	} 
}

@media screen and (max-width: 535.5px){
	button.Sixth__block__btn2 {
		margin-left: 0;
	}
}

@media screen and (max-width: 510.5px){
	button.Sixth__block__btn2 {
		margin-top: 25px;
	}
}
/*телефон*/
@media screen and (max-width: 480.5px) {
	.firstDisplay__header {
		padding-bottom: 50px;
	}
	.firstDisplay__header h1 {
		font-size: 36px;
		line-height: 36px;
		padding-top: 67px;
	}
	.firstDisplay__header span {
		font-size: 20px;
	}
	.container {
		margin: 0 12px;
	}
	.ButtonBlock {
		padding-bottom: 50px;
	}
	.container h2 {
		padding-top: 55px;
		padding-bottom: 40px;
		font-size: 30px;
	}
	.thirdBlock__AllAdv {
		margin-top: 10px;
		justify-content: center;
	}
	.thirdBlock__AllAdv__Adv1 {
		margin-bottom: 0;
	}
	.thirdBlock__AllAdv__Adv2 {
		display: none;
	}
	.thirdBlock__AllAdv__Adv3 {
		display: none;
	}
	.thirdBlock__AllAdv__Adv4 {
		display: none;
	}
	.thirdBlock__AllAdv__Adv5 {
		display: none;
	}
	.thirdBlock__AllAdv__Adv6 {
		display: none;
	}
	.thirdBlock__secondsAdv__elseEdv {
		justify-content: center;
	}
	.thirdBlock__AllAdv__Adv7 {
		margin-bottom: 0;
	}
	.thirdBlock__AllAdv__Adv8 {
		display: none;
	}
	button.thirdBlock__button {
		margin: 0 auto;
	}
	.thirdBlock__buttonBlock {
		padding: 50px 0;
	}
	/*отзывы*/
	.fifthBlock__cards {
		padding-bottom: 50px;
	}
	.card2 {
		transform: scale(1);
		position: relative;
	}
	.card1 {
		display: none;
	}
	.card3 {
		display: none;
	}
	/*Блок с ценами*/
	.Sixth__block button {
		display: block;
		margin: 0 auto;
	}
	button.Sixth__block__btn2 {
		margin-top: 25px;
	}
	.SixBlock__content {
		padding: 0 0;
		padding-bottom: 50px;
	}
	h2.Sixth__block__head {
		margin-bottom: 0;
	}
	.Sixth__block__prices {
		padding-bottom: 35px;
	}
	/*подвал*/
	.footer .contactFooter {
		display: block;
		width: 100%;
		margin: 5px auto;
	}
	.contactFooter>.flexBlock {
		justify-content: center;
	}

	/*стрелки в блоке с тех оснащением*/

	.arrowsForMobileAdv {
		opacity: 1;
	}

	/*ховер для телефонов*/

	.firstBlock__allGames__dota2:hover {
		transform: scale(1);
	}
	.firstBlock__allGames__CsGo:hover {
		transform: scale(1);
	}
	.firstBlock__allGames__fortnite:hover {
		transform: scale(1);
	}
	.firstBlock__allGames__fifa:hover {
		transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv1:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv2:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv3:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv4:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv5:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv6:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv7:hover {
	transform: scale(1);
	}
	.thirdBlock__AllAdv__Adv8:hover {
	transform: scale(1);
	}
	.up:hover {
	transform: scale(1);
	}
}

/*для еще меньших телефонов*/

@media screen and (max-width: 385.5px) {
	.firstBlock__allGames {
		justify-content: center;
	}
	.card2 {
		transform: scale(0.8);
	}
}

/*и еще*/

@media screen and (max-width: 344.5px) {
	.firstDisplay__header h1 {
		font-size: 32px;
		line-height: 32px;
		padding-top: 62px;
	}
	.firstDisplay__header span {
		font-size: 18px;
	}
}